        * {
            box-sizing: border-box;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
        }

        body {
            margin: 0;
            min-height: 100vh;
            display: block;
            background: #F5F9FF;
        }

        /*header*/

        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            border-bottom: 0.06rem solid #e5e5e5;
            background-color: white;
        }


        .partgauche, .partdroite{
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .logo{
            flex-shrink: 0; /*empeche de retrecir*/
        }

        .logo img{
            height: 100%;
            width: auto;
            display: block;
        }

        
        .partgauche .logo{
             height: 7rem;
        }


        .textheader{
             display: flex;
            flex-direction: column;
            align-items: flex-start; /*à gauche*/
            line-height: 1.2;
        }

        .partgauche h1{
            font-size: 1.8rem;
            margin: 0;
        }

        .partgauche h2{
            font-size: 0.9rem;
            margin: 0;
            color: #6b7280;
            font-weight: 400;
        }

        

        .infouser{
            display: flex;
            flex-direction: column;
            align-items: flex-end; /*à droite*/
            line-height: 1.2;
        }

        .partdroite span{
            font-size: 0.8rem;
            color: #666;
        }

        .partdroite strong{
            font-size: 0.9rem;
        }

        .partdroite button{
            display: flex;
            align-items: center;
            padding: 0.7rem 1rem;
            font-size: 0.9rem;
             gap: 0.4rem;
            cursor: pointer;
            background-color: white;
            border-color: white;
            border: none;
        }


        /*main*/

        main{
            display: flex;
            flex-direction: column;  /*empilation des blocs*/
            align-items: center;
            gap: 2.5rem;
        }

        .titre{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
        }

        .namespace{
            font-size: 1.7rem;
            font-weight: bolder;
            padding: 1rem;
        }

  
        .card {
            display: flex;
            flex-direction: column;
            background-color: white;
            box-shadow: 0 10px 25px rgba(0,0,0,0.08);
            width: 90%;
            height: 55vh;
            border-radius: 5%;
            border: none;
        }

        .entete{
            display: flex;
            padding: 1rem;
            margin-left: 1rem;
        }

        .entete h3{
            font-size: 1.3rem;
            margin: 0;
        }

        .entete h4{
            font-size: 0.9rem;
            margin: 0;
            color: #6b7280;
            font-weight: 400;
        }

        .entete .logo{
            height: 3rem;
        }

        .textcard{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-left: 0.5rem; 
        }


       .autorisation {
        display: flex;
        align-self: center;
        align-items: flex-start;
        gap: 1rem;
        background-color: #ecfdf5;
        border: 0.1rem solid #a7f3d0;
        border-radius: 0.8rem;
        margin-top: 1rem;
        width: 90%;
        }

        

        .textauto {
        display: flex;
        flex-direction: column;
        
    }


        .textauto h3 {
        font-size: 0.95rem;
        color: #065f46;
    }

        .textauto h4 {
        font-size: 0.85rem;
        color: #047857;
}


        .informations{
        background-color: #EEF4FA;
        border: 0.1rem solid #9ccbd7;
        border-radius: 0.8rem;
        padding: 1.5rem;
        width: 40%;
        }

        .inforow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 0;
        }

        .label {
        color: #6b7280;
        font-size: 0.95rem;
        }

        .value {
        font-weight: 600;
        color: #111827;
        }
           
        .btnStart{
            width: 90%;
            padding: 1rem 1.5rem;
            background-color: #2563EB;
            color: #ffffff;
            border: none;
            border-radius: 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            cursor: pointer;
            background-color: 0.2s ease;
            box-shadow: 0.2s ease;
            transform: 0.1s ease;
            margin-left: 3.5rem;
            margin-top: 1rem;
        }

  
        .btnStart .arrow {
        font-size: 1.2rem;
        transition: transform 0.2s ease;
        }


        .btnStart:hover {
        background-color: #1D4ED8; /* bleu un peu plus foncé */
        box-shadow: 0 10px 25px rgba(37, 99, 235, 0.45);
        }


        .btnStart:hover .arrow {
        transform: translateX(4px);
        }


        .btnStart:active {
        transform: scale(0.98);
        }

        .icone{
            display: block;
            flex-shrink: 0; /*empeche de retrecir*/
        }

        .icone img{
            height: 100%;
            width: auto;
            display: block;
        }

        button .icone{
            height: 1rem;
        }

        .coche .icone{
            height: 2rem;
        }