 body {
            margin: 0;
            min-height: 100vh;
            display: block;
            background: #F5F9FF;
        }

        /*header*/

        header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 2rem;
            border-bottom: 0.06rem solid #e5e5e5;
            background-color: white;
        }

        .entete-text h1{
            font-size: 2rem;
            margin: 0.4rem;
        }

         main{
            display: flex;
            flex-direction: column;  /*empilation des blocs*/
            align-items: center;
            gap: 35px;
        }

        .progress-box{
            display: flex;
            flex-direction: column;
            background-color: white;
            width:  65%;
            height: 12vh;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.08);
            align-items: flex-start;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }

        .container{
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 65%;
            height: 45vh;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.08);
            align-items: flex-start;
            font-size: 1rem;
            font-weight: 200;
        }

        .contenu{
            margin: 2rem;
        }

         .btn-box {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 65%;
            height: 15vh;
            border-radius: 20px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.08);
        }

         .entete-text{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        

        .under-container{
        display: flex;
        flex-direction: row;
        }


         .quiz-nav, .question-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: white;
        border: 0.1rem solid white;
        border-radius: 0.8rem;
        padding: 1.5rem;
        box-shadow: 0 10px 30px rgba(0,0,0,0.08);
        align-items: center;
        margin: 1rem;
        width: 27vw;
        height: 15vh;
        }

        

        .loading-container { /* La barre principale*/
            width: 90%; 
            text-align: center;
            color : #2563EB;
            font-size: 1rem;
            margin-left: 2rem;
        }

        #barre { /* Fond de la barre */
            width: 100%;
            height: 0.5rem;
            margin-top: 10px;
            border-radius: 10px;
            overflow: hidden;
            background-color: rgb(236, 234, 234); 
        }

        #progres { /*Remplissage*/
            width: 0%; 
            height: 100%;
            background-color: #2563EB;
            transition: width 0.3s ease;
        }

        .btn-nav{
            background-color: white;
            width: 50%;
            height: 2rem;
            margin: 0.5rem;
            border-radius: 20px rgb(254, 252, 252);
            font-weight: 200;
        }

       